# Notion配置
NOTION_TOKEN=your_notion_token
NOTION_DATABASE_ID=your_notion_database_id

# R2图床配置
R2_ACCESSKEYID=your_r2_access_key_id
R2_SECRET_ACCESSKEY=your_r2_secret_access_key
R2_BUCKET=your_r2_bucket_name
R2_ENDPOINT=https://xxx.r2.cloudflarestorage.com
R2_HOST=your_custom_domain_or_default_r2_domain
