---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';
---

<BaseLayout title='About Me' description='关于轻舟 - 独立开发者'>
	<div class='container'>
		<main class='prose text-lg dark:prose-invert'>
			<article>
				<div class='w-full md:flex md:items-center gap-16 mb-10'>
					<div class='text-pretty leading-9'>
						<h1 class='text-4xl font-bold mb-4'>Hi 👋，我是轻舟</h1>
						<Prose>
							<div class='text-lg'>
								<p>
									目前就职于 <a href='https://sspai.com' target='_blank' rel='noopener noreferrer'>少数派</a>，<a
										href='https://swiftgg.team'
										target='_blank'
										rel='noopener noreferrer'>SwiftGG 社区</a
									> 组织核心成员，也是一位在空余时间持续打磨产品的独立开发者。
								</p>
							</div>
							<p>这里是我记录思考、分享灵感的地方——关于产品、关于独立开发、也关于我们如何在日常中找到专注与自由。</p>
						</Prose>
					</div>
					<Image src={Ava} alt='轻舟' width={300} class='rounded-3xl rotate-3 mx-4 md:mx-0' />
				</div>
				<div>
					<p>过去两年，我上线了几款产品：</p>

					<ul>
						<li>
							<strong
								><a href='https://apps.apple.com/us/app/focusfour-task-daily-planner/id6661031104' target='_blank' rel='noopener noreferrer'
									>FocusFour</a
								></strong
							>：一款基于四象限任务管理法的提醒事项增强工具，帮你理清轻重缓急，找回专注节奏。
						</li>
						<li>
							<strong
								><a href='https://apps.apple.com/sg/app/phorase/id6497569235' target='_blank' rel='noopener noreferrer'>Phorase</a></strong
							>：一款如魔术般的 AI 修图工具，轻松消除照片中的杂物与干扰。
						</li>
						<li>
							<strong><a href='https://indieto.com/' target='_blank' rel='noopener noreferrer'>IndieTO</a></strong
							>：由我精心筛选的，找需求→产品规划→设计→开发→运营推广→变现 完整路径下的实用工具，帮助你快速启动和发布你的产品。
						</li>
						<li>
							<strong><a href='https://linktomarkdown.com/' target='_blank' rel='noopener noreferrer'>LinkToMarkdown</a></strong
							>：一个简单且现代化的免费工具，它允许你从链接中提取文档并生成 Markdown，自动过滤掉垃圾内容和广告。
						</li>
					</ul>

					<p>这些产品都源于我自身真实的需求，也代表着我对"简单、有用、好看"的产品理念的尝试与坚持。</p>

					<hr class='my-8' />

					<p>
						我始终相信<strong>技术不是目的，而是人与人之间情感与效率的桥梁</strong
						>。在这个日益复杂的时代，我想做一些让人觉得「轻一点、清一点」的东西。
					</p>

					<p>
						我在产品中追求的不是功能的堆砌，而是让每个打开它的人，<strong>获得一点掌控感，一点美感，和一点不那么焦虑的可能性</strong>。
					</p>

					<hr class='my-8' />

					<p>作为一名开发者，我是 AI 的深度使用者，也是它的警觉观察者。</p>

					<p>
						AI 工具带来的不是"替代"，而是一次<strong>认知杠杆的升级</strong
						>----如果你知道你要什么，它会让你飞得更快；但如果你迷失方向，它只会让你更快迷失。
					</p>

					<p>我尝试将 AI 融入到创作与开发的各个环节，让它成为一位得力助手，但始终保留人类的温度、判断与表达。</p>

					<hr class='my-8' />

					<h2 class='text-2xl font-bold mt-8 mb-4'>接下来</h2>

					<p>我会继续写字、做产品、思考，探索独立创作和科技的边界。</p>

					<p>也欢迎和我一起聊聊：关于产品、AI、写作、工具的未来，或者人生本身。</p>
				</div>
			</article>
		</main>
	</div>
</BaseLayout>
